<main class="error-404">
  <% if (title) { %>
    <h1>
      <%= title %>
    </h1>
    <% } else { %>
      res.redirect('/')
      <% } %>

        <div>
          <%- message %>
        </div>
</main>